name: CI-CSharp

on:
  push:
    paths:
      - "src/CyboquaticPowerSimulator/**"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"
      - name: Build simulator
        run: |
          cd src/CyboquaticPowerSimulator
          dotnet build -c Release
